<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Biodata Save</title>
	</head>
	<body>
		<h1>Biodata Save Page</h1>
		<p th:text="'ID : ' + ${data.id}" />
		<p th:text="'Nama : ' + ${data.nama}"/>
		<p th:text="'Alamat : ' + ${data.alamat}"/>
		<p th:text="'Jenis Kelamin : ' + ${data.jk}"/>
		<p th:text="'No Telp : ' + ${data.telp}"/>
	</body>
</html>