<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Motor Save</title>
</head>
<body>
	<h1>Motor Save Page</h1>
	<p th:text="'ID : '+${data.id}"/>
	<p th:text="'Merk : '+${data.merk}"/>
	<p th:text="'Nama : '+${data.nama}"/>
</body>
</html>