<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Employee Save</title>
	</head>
	<body>
		<h1>Employee Save Page</h1>
		<p th:text="'ID : ' + ${data.id}" />
		<p th:text="'First Name : ' + ${data.first_name}"/>
		<p th:text="'Last Name : ' + ${data.last_name}"/>
		<p th:text="'Address : ' + ${data.address}"/>
		<p th:text="'Email : ' + ${data.email}"/>
		<p th:text="'Place Of Birth : ' + ${data.place_of_birth}"/>
		<p th:text="'Date Of Birth : ' + ${data.date_of_birth}"/>
	</body>
</html>