body{
	background-color: black;
}
h1{
	color: white;
	font-family: verdana;
	font-size: 300%;
	margin: 50px;
}
p{
	color: white;
	font-family: courier;
	font-size: 160%;
	border: 1px solid white;
	padding: 30px;
}
#p01{
	color:blue;
}