<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Android Save</title>
</head>
<body>
	<h1>Android</h1>
	<p th:text="'ID : '+ ${android.id}"/>
	<p th:text="'Merk : '+ ${android.merk}"/>
	<p th:text="'Type : '+ ${android.type}"/>
</body>
</html>