<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Save Hewan</title>
</head>
<body>
	<h1>Hewan</h1>
	<p th:text="'ID : ' + ${hewan.id}"/>
	<p th:text="'Nama Hewan : ' + ${hewan.nama}"/>
	<p th:text="'Jenis Kelamin : ' + ${hewan.jk}">
	
</body>
</html>