<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Game Save</title>
</head>
<body>
	<h1>Game</h1>
	<p th:text="'ID : '+ ${data.id}"/>
	<p th:text="'Judul Game : '+ ${data.judul}"/>
	<p th:text="'Genre : '+ ${data.genre}"/>
</body>
</html>