<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mobil Save</title>
</head>
<body>
	<h1>Mobil Save</h1>
	<p th:text="'ID : ' + ${data.id}"/>
	<p th:text="'Nama : ' + ${data.nama}"/>
</body>
</html>