<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Index</title>
</head>
<body>
	<h1>Daftar Employee</h1>
	<p><a href="add">Menambah Employee</a></p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Place Of Birth</th>
				<th>Date Of Birth</th>
				<th>#</th>	
			</tr>
		</thead>
		<tbody>
			<tr th:each = "bd : ${listData}">
				<td><span th:text = "${bd.id}"></span></td>
				<td><span th:text = "${bd.first_name}"></span></td>
				<td><span th:text = "${bd.last_name}"></span></td>
				<td><span th:text = "${bd.address}"></span></td>
				<td><span th:text = "${bd.email}"></span></td>
				<td><span th:text = "${bd.place_of_birth}"></span></td>
				<td><span th:text = "${bd.date_of_birth}"></span></td>
				<td><a th:href="@{edit/{id}(id = ${bd.id})}">Edit</a> | <a th:href="@{delete/{id}(id = ${bd.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>