<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home Index</title>
</head>
<body>
	<h1>Daftar Biodata</h1>
	<p><a href="add">Menambah Biodata</a></p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Jenis Kelamin</th>
				<th>Telp</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "bd : ${listData}">
				<td><span th:text = "${bd.id}"></span></td>
				<td><span th:text = "${bd.nama}"></span></td>
				<td><span th:text = "${bd.alamat}"></span></td>
				<td><span th:text = "${bd.jk}"></span></td>
				<td><span th:text = "${bd.telp}"></span></td>
				<td><a th:href="@{edit/{id}(id = ${bd.id})}">Edit</a> | <a th:href="@{delete/{id}(id = ${bd.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>