<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

<title>Home Index</title>
</head>
<body>
	<div class="container">
	<h1>Daftar Biodata</h1>
	<p><a href="add" class="btn btn-primary">Menambah Biodata</a></p>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Jenis Kelamin</th>
				<th>Telp</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "bd : ${listData}">
				<td><span th:text = "${bd.id}"></span></td>
				<td><span th:text = "${bd.nama}"></span></td>
				<td><span th:text = "${bd.alamat}"></span></td>
				<td><span th:text = "${bd.jk}"></span></td>
				<td><span th:text = "${bd.telp}"></span></td>
				<td><a th:href="@{edit/{id}(id = ${bd.id})}" class="btn btn-warning-sm"><i class="fas fa-align-justify"></i> Edit</a> 
					<a th:href="@{delete/{id}(id = ${bd.id})}" class="btn btn-danger-sm"><i class="fas fa-trash-alt"></i> Hapus</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>