<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Game Home</title>
</head>
<body>
	<h1>Game Home Page</h1>
	<p><a href="add">Tambahkan Game</a></p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Judul Film</th>
				<th>Genre</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "bd : ${listDataGame}">
				<td><span th:text = "${bd.id}"></span></td>
				<td><span th:text = "${bd.judul}"></span></td>
				<td><span th:text = "${bd.genre}"></span></td>
				<td><a th:href="@{edit/{id}(id = ${bd.id})}">Edit</a> | <a th:href="@{delete/{id}(id = ${bd.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>