<div class="container">
<form action="/employee/save" method="post">
	
	<div class="modal-header">
		<h3 class="modal-title">Insert New Employee</h3>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
      	</button>
	</div>
	
	<div class="modal-body">
		<div class="form-group row">
		<label class="col-form-label col-md-2">ID</label>
		<input class="form-control col-md" type="text" name="id" />
		</div>
		
		<div class="form-group row">
		<label class="col-form-label col-md-2">First Name</label>
		<input class="form-control col-md" type="text" name="first_name" />
		</div>
		
		<div class="form-group row">
		<label class="col-form-label col-md-2">Last Name</label>
		<input class="form-control col-md" type="text" name="last_name" />
		</div>
		
		<div class="form-group row">
		<label class="col-form-label col-md-2">Address</label>
		<input class="form-control col-md" type="text" name="address" />
		</div>
		
		<div class="form-group row">
		<label class="col-form-label col-md-2">Email</label>
		<input class="form-control col-md" type="text" name="email" />
		</div>
		
		<div class="form-group row">
		<label class="col-form-label col-md-2">Place Of Birth</label>
		<input class="form-control col-md" type="text" name="place_of_birth" />
		</div>
		
		<div class="form-group row">
		<label class="col-form-label col-md-2">Date Of Birth</label>
		<input class="form-control col-md" type="date" name="date_of_birth" />
		</div>
	</div>
	
	<div class="modal-footer">
		<button class="btn btn-success btn sm-pull-right" type="submit">Simpan</button>
	</div>
		
</form>
</div>