<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<title>Employee Index</title>
</head>
<body>
<div class="container">
<div class="card">
	<div class="card-header">
		<h1 class="text-center">Daftar Employee</h1>
		<a id="btn-add" href="#" class="btn btn-info">Menambah Employee</a>
	</div>
	<div class="card-body">
		<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Place Of Birth</th>
				<th>Date Of Birth</th>
				<th>#</th>	
			</tr>
		</thead>
		<tbody>
			<tr th:each = "bd : ${listData}">
				<td><span th:text = "${bd.id}"></span></td>
				<td><span th:text = "${bd.first_name}"></span></td>
				<td><span th:text = "${bd.last_name}"></span></td>
				<td><span th:text = "${bd.address}"></span></td>
				<td><span th:text = "${bd.email}"></span></td>
				<td><span th:text = "${bd.place_of_birth}"></span></td>
				<td><span th:text = "${bd.date_of_birth}"></span></td>
				<td><a href="@{edit/{id}(id = ${bd.id})}" class="btn-edit">Edit</a> | 
					<a th:href="@{delete/{id}(id = ${bd.id})}">Hapus</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="card-footer">
	
	</div>
</div>

<!-- Mulai Modal -->
<div id="modal-form" class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			
		</div>
	</div>
</div>
<!-- Selesai Modal -->
	
	</div>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		$("#btn-add").click(function(){
			$.ajax({
				url:'/employee/add',
				type:'get',
				dataType:'html',
				success:function(hasil){
					$("#modal-form").find(".modal-content").html(hasil);
					$("#modal-form").modal("show");
				}
			});
		});
		$(".btn-edit").click(function(){
			var abc = $(this).attr("href");
			$.ajax({
				url:abc,
				type:'get',
				dataType:'html',
				success:function(hasil){
					$("#modal-form").find(".modal-content").html(hasil);
					$("#modal-form").modal("show");
				}
			});
			
			return false;
		});
	</script>
	
</body>
</html>