<div class="card">
	<div class="card-header">
		<h1>Form Biodata</h1>
	</div>
	
	<form id="form-input">
		<div class="card-body">
			<div class="form-group row">
				<label class="col-form-label col-md-2">ID</label>
				<input class="form-control col-md" type="text" name="id" />
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Nama</label>
				<input class="form-control col-md" type="text" name="nama" />
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Alamat</label>
				<textarea class="form-control col-md" name="alamat"></textarea>
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Jenis Kelamin</label>
				<input class="form-control col-md" type="text" name="jk" />
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Telp</label>
				<input class="form-control col-md" type="text" name="telp" /> 
			</div>
		
		</div>
		
		<div class="card-footer">
			<button class="btn btn-success" type="submit">Simpan</button>
		</div>
	</form>
</div>